
@font-face {
  font-family: 'Ausion';
  src: local('Ausion'), url("./assets/fonts/AusionPersonalUse.otf") format('opentype');
}

* {
  box-sizing: border-box;
  font-family: 'Ausion', sans-serif;
}

body {
  margin: 0;
  font-family: 'Ausion', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
